@media only screen and (max-width: 638px) {
    .shape {
        min-width: 120px;
        min-height: 120px;
        max-height: 120px;
    }

    .contentView {
        width: 100vw !important;
        max-height: calc(100% - 60px) !important;
        height: calc(100% - 60px) !important;

        top: 0;
        bottom: 0;

        border-radius: 0 !important;
    }

    .contentView.rc {
        border-radius: 0 0 16px 16px !important;
    }

    .pbAdd {
        bottom: 65px;
    }

    .sideNav {
        top: unset;
        bottom: 0;
        left: 0;

        width: 100vw;
        height: 60px;

        flex-direction: row;
        align-items: center;
        justify-content: center;

        transform: translateY(0);
    }

    .sideNav .pageBtn {
        bottom: 7px;
    }

    .pageLabel {
        margin: 0;
    }

    .blankBoard {
        bottom: 25px;
    }

    .customShapeWindow {
        width: 100%;
        height: calc(100% - 60px);

        top: 0;
        left: 0;
        border-radius: 0;

        z-index: 101;

        transform: translate(0);
    }

    .customShapeOptions {
        margin-top: auto !important;
    }

    .csw-actions div {
        font-size: 20px !important;

        height: fit-content;
        width: 90px !important;
    }

    .settingsContainer {
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    .rocver {
        display: none;
    }
}