.pageNav {
    display: flex;
    align-items: center;

    overflow: hidden;

    position: absolute;
    z-index: 1;
}

.sideNav {
    width: 70px;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    left: 0;
    top: 0;
}

.topNav {
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    mix-blend-mode: difference;

    border-radius: 500px;
    gap: 2px;

    top: 5px;
    right: 5px;
}

.pageBtn {
    width: 55px;
    height: 30px;

    border-radius: 70px;
    background-color: transparent;
    color: white;
    opacity: .7;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    font-size: 16px;

    cursor: pointer;
}

.sideNav .pageBtn::after {
    content: attr(data-pageName);

    color: white;
    font-size: 11px;
    font-weight: 400;

    pointer-events: none;

    position: absolute;
    bottom: -18px;
}

.sideNav .pageBtn:not(.pageBtn-sel):hover {
    color: var(--randColor);
    opacity: 1;
}

.pbAdd {
    width: 70px;
    height: 70px;

    border-radius: 40%;
    mix-blend-mode: difference;
    background-color: rgb(68, 68, 68);
    color: black;
    opacity: 1 !important;

    box-shadow: 0 6px 10px 0 rgb(65, 65, 65);

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;

    font-size: 25px;
}

.pbAdd:hover {
    background-color: rgb(49, 49, 49);
}

.topNav .pageBtn {
    width: 50px;
    height: 40px;

    border-radius: 8px;
    background-color: rgb(88, 88, 88);
    color: black;
    opacity: 1;
}

.topNav .pageBtn:hover {
    background-color: rgb(41, 41, 41);
}

.pageBtn-sel {
    background-color: var(--randColor);
    color: black;
    opacity: 1;
}

#pbRefresh {
    width: 50px;
    height: 40px;

    border-radius: 8px;
    background-color: var(--randColor);
    color: black;
    opacity: 1;

    margin-left: auto;
    margin-right: 20px;
}

.pageLabel {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'GST-Med';
    font-weight: 500;
    font-size: 20px;

    color: rgb(121, 121, 121);
    mix-blend-mode: difference;

    margin: 0 0 0 75px;

    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
}