.pbContainer {
    width: calc(100vw - 70px);
    height: calc(100% - 50px);

    position: absolute;
    bottom: 0;
    right: 0;

    border-radius: 16px 0 0 0;
    overflow: hidden;

    display: flex;
}

.pinBoard {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;

    overflow: hidden;

    width: 100%;
    /* min-height: 100%; */

    transition: transform .3s, opacity .3s, filter .2s;

    background-color: inherit;
}

.pinBoard .shape {
    border-radius: 16px;
    cursor: default;
}

.pinBoard.defocus {
    /* transform: scale(.95); */
    opacity: .8;
    filter: blur(8px);

    mix-blend-mode: normal;
}

.pinBoard-EditMode .shape {
    background-color: rgba(100, 100, 100, 0.3) !important;
    transform: scale(0.85);
    cursor: grab;
}

.pinBoard-EditMode .shape.selectedShape {
    background-color: rgba(100, 100, 100, 0.3) !important;
    transform: scale(0.95);
    border: 3px solid rgb(124, 124, 124);
}

.shapesGrid {
    width: 520px;
    height: 320px;

    position: absolute;
    bottom: -70%;
    overflow: hidden;

    transition: bottom .3s, opacity .3s, transform .3s;

    border-radius: 16px 16px 0 0;
    padding: 30px;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.185);

    display: none !important;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sgShow {
    bottom: 0;
    opacity: 1;

    transform: scale(1);
}

.customShape {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(58, 58, 58);
    background-color: rgb(124, 124, 124);

    border-radius: 50%;
    transform: scale(0.6);
}

.customShape::before,
.customShape::after {
    display: none !important;
}

.shape {
    min-width: 130px;
    min-height: 130px;
    max-height: 130px;

    mix-blend-mode: difference;
    font-size: 35px;
    cursor: pointer;

    position: relative;
    /* overflow: hidden; */

    transition: border .15s, background-color .05s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shape::before {
    content: "";
    min-width: 100%;
    min-height: 130px;

    background-size: calc(100% - 15px);
    background-position: 50%;
    background-repeat: no-repeat;

    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-timing-function: linear;

    filter: brightness(100) saturate(100) contrast(0);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shape::after {
    content: attr(data-opacity);

    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 23px;

}

.movable {
    position: absolute;
}

.pinBoard-EditMode .selectedShape,
.addWidget:hover,
.customShape:hover {
    background-color: rgba(100, 100, 100, 0.3) !important;
}

#shape1::before {
    background-image: url('shapes/shape1.svg');
}

#shape2::before {
    background-image: url('shapes/shape2.svg');
}

#shape3::before {
    background-image: url('shapes/shape3.svg');
}

#shape4::before {
    background-image: url('shapes/shape4.svg');
}

#shape5::before {
    background-image: url('shapes/shape5.svg');
}

#shape6::before {
    background-image: url('shapes/shape6.svg');
}

#shape7::before {
    background-image: url('shapes/shape7.svg');
}

#shape6,
#shape7 {
    width: 260px;
}

.shapeOptions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 100%;
    height: 100%;

    background-color: rgb(58, 58, 58);

    mix-blend-mode: difference;

    border-radius: 14px;
    overflow: hidden;
}

.pinBoard-EditMode .pbWidget .shapeOptions {
    opacity: 0;
}

.pinBoard-EditMode .selectedShape .shapeOptions {
    opacity: 1;
    display: flex;
}

.shapeOption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    background-color: rgb(138, 138, 138);
    border-radius: 4px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

.shapeOption i {
    font-size: 20px;
}

.shapeOption:hover {
    background-color: rgb(180, 180, 180);
}

@keyframes tiltLoop1 {
    from {
        transform: rotate(-15deg);
    }

    to {
        transform: rotate(15deg);
    }
}

@keyframes tiltLoop2 {
    from {
        transform: scale(0.95) rotate(-3deg);
    }

    to {
        transform: scale(0.95) rotate(3deg);
    }
}

@keyframes floatLoop1 {
    from {
        transform: translateY(-7px);
    }

    to {
        transform: translateY(7px);
    }
}

@keyframes infiniteRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes cornerRotate1 {
    0% {
        transform: rotate(0);
        border-radius: 15%;
    }

    25% {
        transform: rotate(45deg);
        border-radius: 50%;
    }

    50% {
        transform: rotate(90deg);
        border-radius: 15%;
    }

    75% {
        transform: rotate(120deg);
        border-radius: 50%;
    }

    100% {
        transform: rotate(180deg);
        border-radius: 15%;
    }
}

.settings {
    display: none;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;

    width: calc(100vw - 70px);
    height: calc(100vh - 50px);

    user-select: none;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    border-radius: 16px 0 0 0;
    overflow: hidden;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;

    padding: 15px;
}

.setting {
    width: 100%;
    max-width: 450px;
    height: 80px;

    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 14px;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

.aboutBox {
    margin-top: auto;
}

.settingLabel {
    font-size: 17px;
    font-weight: 600;

    margin-left: 10px;
    transform: translateY(-8px);

    position: relative;
}

.settingLabel::after {
    content: attr(data-settingCaption);
    font-size: 12px;
    font-weight: 400;

    width: max-content;

    position: absolute;
    bottom: -14px;
    left: 0;
}

.setting i {
    font-size: 20px;
}

.sett-options {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 20px 0 auto;
}

.so-mw {
    display: flex;
    flex-direction: row;
    gap: 0;

    overflow: hidden;
    border-radius: 100px;
    mix-blend-mode: difference;
}

.so-mw input {
    appearance: none;
    position: relative;
    background-color: rgba(58, 58, 58, 0.459);

    width: 30px;
    height: 30px;
    margin: 0;
}

#mw-enable {
    background-color: rgb(95, 66, 91);
}

#mw-disable {
    background-color: rgb(3, 112, 94);
}

.so-mw input:checked::after {
    content: "";

    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    border-radius: 50%;
}

.sett-option {
    font-size: 14px;
    cursor: pointer;
}

.so-button {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 13px;

    border-radius: 500px;
}

.so-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.customShapeWindow {
    width: 390px;
    height: fit-content;

    background-color: var(--randColor);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.185);
    border-radius: 14px;

    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.customShapeWindow::before {
    content: "Custom Shape";

    font-size: 22px;
    font-weight: 600;

    position: absolute;
    top: 20px;
    left: 15px;
}

.customShapeOptions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

    width: 95%;
    height: fit-content;

    border-radius: 16px;
    overflow: hidden;
}

.customShapeOptions .cso-opt {
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 7px;

    width: 100%;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    padding: 7px 14px;
}

.cso-opt::before {
    content: attr(data-optName);
    color: rgb(117, 117, 117);
    mix-blend-mode: difference;

    font-size: 18px;

    position: absolute;
    left: 15px;
}

.opt0 {
    gap: 5px;
}

.csoo-size {
    width: 25px;
    height: 25px;

    background-color: rgb(68, 68, 68);
    border-radius: 50%;
    font-size: 14px;
    mix-blend-mode: difference;

    display: flex;
    align-items: center;
    justify-content: center;
}

.csoo-size:hover {
    background-color: rgb(56, 56, 56);
}

.customShapeWindow .shape {
    margin-top: 50px;
}

.customShapeWindow .csw-actions {
    display: flex;
    gap: 2px;
    margin: 10px 0;

    max-height: fit-content;

    border-radius: 100px;
    overflow: hidden;
}

.customShapeWindow .csw-done,
.customShapeWindow .csw-cancel {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    font-size: 14px;
    user-select: none;
    text-align: center;

    cursor: pointer;

    padding: 5px 0;

    width: 60px;

}

.csw-done:hover,
.csw-cancel:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.csoo-shape {
    width: 30px;
    aspect-ratio: 1/1;
    appearance: none;

    border: 2px solid rgb(95, 95, 95);
    border-radius: 100px;

    position: relative;
    mix-blend-mode: difference;
}

.csoo-shape:checked::before {
    content: "";
    width: 20px;
    aspect-ratio: 1/1;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: rgb(136, 136, 136);
}

#csoo-opacity::before {
    content: "";
    width: 210px;
    height: 40px;

    position: absolute;
    bottom: -17px;
    left: -5px;
    z-index: -1;

    background-color: rgb(146, 146, 146);
    border-radius: 500px;
}

#csoo-opacity {
    width: 200px;
    height: 5px;

    border: none;
    border-radius: 100px;

    appearance: none;
    position: relative;
    z-index: 1;

    mix-blend-mode: difference;
}

#csoo-opacity::-webkit-slider-runnable-track {
    background-color: rgb(87, 87, 87);
    height: 5px;
    border-radius: 100px;
}

#csoo-opacity::-webkit-slider-thumb {
    appearance: none;

    width: 30px;
    height: 30px;
    border-radius: 500px;

    transform: translateY(-13px);

    background: #1a1a1a;
    cursor: pointer;
    /* mix-blend-mode: difference; */
    /* filter: invert(1); */
}

#csoo-text {
    font-size: 15px;
    width: 205px;
    height: 40px;

    padding: 5px 13px;

    background-color: rgb(107, 107, 107);
    color: black;

    mix-blend-mode: difference;

    border-radius: 100px;
    border: none;
    outline: none;
}

#csoo-text::placeholder {
    color: rgb(58, 58, 58);
}

@media only screen and (max-width: 638px) {

    .pbContainer,
    .settings {
        width: 100vw;
        max-height: calc(100% - 110px) !important;
        height: calc(100% - 110px) !important;

        top: 50px;
        bottom: 0;

        border-radius: 0;
    }

    .pbAdd {
        bottom: 70px;
    }

    .sideNav {
        top: unset;
        bottom: 0;
        left: 0;

        width: 100vw;
        height: 60px;

        flex-direction: row;
        align-items: center;
        justify-content: center;

        transform: translateY(0);
    }

    .sideNav .pageBtn {
        bottom: 7px;
    }

    .pageLabel {
        margin: 0 0 0 15px;
    }

    .blankBoard {
        bottom: 25px;
    }

    .customShapeWindow {
        width: 100%;
        height: calc(100% - 110px);

        top: 50px;
        left: 0;
        border-radius: 0;

        transform: translate(0);
    }

    .customShapeOptions {
        margin-top: auto !important;
    }

    .csw-actions div {
        font-size: 20px !important;

        height: fit-content;
        width: 90px !important;
    }
}